<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>University Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    {% if session.user_id %}
    <nav class="navbar">
        <div class="nav-brand">
            {% if session.role == 'admin' %}
                <i class="fa-solid fa-user-shield text-warning"></i> ADMIN PORTAL
            {% else %}
                <i class="fa-solid fa-graduation-cap"></i> University Portal
            {% endif %}
        </div>
        <div class="nav-links">
            {% if session.role == 'student' %}
                <a href="{{ url_for('home') }}"
class="{{ 'active' if request.endpoint=='home' }}">
<i class="fa-solid fa-house"></i>
Home
</a>
                <a href="{{ url_for('student_attendance') }}" class="{{ 'active' if request.endpoint == 'student_attendance' }}"><i class="fa-solid fa-chart-pie"></i> Attendance</a>
                <a href="{{ url_for('student_assignments') }}" class="{{ 'active' if request.endpoint == 'student_assignments' }}"><i class="fa-solid fa-book"></i> My Assignments</a>
                <a href="{{ url_for('internal_marks') }}"
       class="{{ 'active' if request.endpoint == 'internal_marks' }}">
        <i class="fa-solid fa-file-lines"></i> Internal Marks
    </a>
    <a href="{{ url_for('announcements') }}"
class="{{ 'active' if request.endpoint=='announcements' }}">
<i class="fa-solid fa-bullhorn"></i>
Announcements
<a href="{{ url_for('lms') }}"
   class="{{ 'active' if request.endpoint=='lms' }}">
    <i class="fa-solid fa-book-open"></i>
    LMS
</a>      {% else %}
                <a href="{{ url_for('admin_portal') }}" class="active"><i class="fa-solid fa-bars-progress"></i> Dashboard</a>
            {% endif %}
            <div class="user-profile">
                <span>{{ session.name }}</span>
                <a href="{{ url_for('logout') }}" class="btn-logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </div>
        </div>
    </nav>
    {% endif %}

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>